<div class="contact">
  <h1>Contact</h1>
  <hr class="mt-2 mb-5">

  <div class="contact__info">

    <div>
      <p class="col-md-6 offset-md-3">If you need a reservation, send us your contact information and we'll get back to you as soon we can.</p>
      <form class="contactForm col-md-6 offset-md-3">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" placeholder="Name">
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" placeholder="Email">
          <small id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label>Phone Number</label>
          <input type="number" class="form-control" placeholder="Phone Number">
        </div>

        <button type="submit" class="btn btn-primary">Reserve a Spot</button>
      </form>
    </div>

    <div>
      <h3>Open Hours</h3>
      <table class="openTimes">
        <tr>
          <td><strong>M - F</strong></td>
          <td>9:30 am - 10:00 pm</td>
        </tr>
        <tr>
          <td><strong>Sat & Sun</strong></td>
          <td>1:00 pm - 12:00 pm</td>
        </tr>
      </table>
    </div>

    <div>
      <h3>Location</h3>
      <address>
        12345 Leetmore Avenue<br>
        San Fransokyo, CA 92819<br>
        <p>P: <a class="contactNum" href="tel:4242222134">+(424)222-2134</a></p>
      </address>
    </div>
  </div>

  <div class="location">
    <!-- <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_APIKEY"] %>
        &q=Space+Needle,Seattle+WA" allowfullscreen>
    </iframe> -->

    <iframe width="600" height="450" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11793.641032421869!2d-71.0738564!3d42.3550953!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e370a004755d9b%3A0x6d29943b18476872!2s112%20Beacon%20St%2C%20Boston%2C%20MA%2002116!5e0!3m2!1sen!2sus!4v1576015697946!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>

</div>
